* {
	box-sizing: border-box;
}

.portfolio ul {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 1rem;
	max-width: 100%;
}

.grid-container {
	margin: 0;
	background: #808080;
}

body {
	font-family: 'Crimson Text', serif;
	font-size: 100%
	margin: 0;
	background:#585858;
}

img {
	display: block;
	width: 100%;
}

img:hover {
	opacity: .5;
}

section {
	margin: 3rem 4rem 8rem;
}

ul {
	list-style: none;
	margin: 0 0 0 2rem;
	padding: 2rem
	background: #bada55;
	box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.4);
}

h1 {
  font-size: 3rem;
  color: #E8E8E8;
  font-weight: normal;
  text-transform: lowercase;
  margin: 0;
  margin-bottom: 0.8rem;
  line-height: 1; }

main > h1 {
  background: #808080;
  padding: 0.3em 0.3em 0;
  font-size: 2rem; 
  color: #E8E8E8;
}

@media (min-width: 600px) {
	section {
    margin-left: 6rem; }
  main > h1 {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    position: fixed;
    left: 0;
    top: 6.75rem;
    padding: 1em 0; } }

#form-contact {
  background: #808080;
  padding: 0.3em 0.3em 0;
  font-size: 2rem; 
}

#form-contact a {
  color: #E8E8E8;
  text-decoration: none;
}

@media (min-width: 600px) {
	#form-contact{
		margin-right: 0; }
  #form-contact {
   -webkit-writing-mode: vertical-rl;
   -ms-writing-mode: tb-rl;
   writing-mode: vertical-rl;
   -webkit-transform: rotate(0deg);
   transform: rotate(180deg);
   position: fixed;
   right: 0em;
   top: 18rem;
   padding: .75em 0; } }

#social-contact {
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #E8E8E8;
  font-size: 2vw;
}

#social-links li {
  display: inline;
  list-style-type: none;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3em;
  padding-left: 3em;
}

#social-links li a {
  color: #E8E8E8;
  transition: all 0.25s ease-in-out;
  opacity: .5;
}
